name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: |
           conda init
           source ~/.bashrc
           conda create -y -n test python=3.10
           conda activate test
           pip install ./phylo_grad_py
