name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    steps:
    - uses: actions/checkout@v4
    - uses: conda-incubator/setup-miniconda@v3
      with:
          auto-update-conda: true
          environment-file: benchmark_test/environment.yml
    - name: Build and install
      run: pip install ./phylo_grad_py -v && pip install ./phylo_grad_gpu
    - name: Test
      working-directory: ./benchmark_test
      run: pytest test.py
