name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    steps:
    - uses: conda-incubator/setup-miniconda@v3
      with:
          auto-update-conda: true
          python-version: ${{ matrix.python-version }}
           
    - uses: actions/checkout@v4
    - name: Build
      run: pip install ./phylo_grad_py
